.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c0e3a;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}

@media screen and (min-width: 567px) {
  .navbar {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 992px) {
  .navbar {
    padding: 12px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.website-logo {
  width: 36%;
  max-width: 200px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .website-logo {
    width: 20%;
  }
}

@media screen and (min-width: 992px) {
  .website-logo {
    width: 15%;
  }
}
.score-timer-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.score-heading {
  color: #ffffff;
  margin-right: 10px;
  margin-left: 4px;
  font-size: 14px;
  font-family: 'Roboto';
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .score-heading {
    font-size: 18px;
  }
}
.timer {
  width: 20%;
}
@media screen and (min-width: 992px) {
  .timer {
    width: 30%;
  }
}
.time-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
}
